*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan' , sans-serif;
}

 :root {
    --dk-violet: hsl(258, 32%, 18%);  /* Deep background */
    --lt-violet: hsl(258, 30%, 22%);  /* Card background */
    --lt-violet2: hsl(258, 30%, 30%);   /* Slider track */
    --vb-violet: hsl(210, 100%, 56%);   /* Generate button */
    --vb-violet2: hsl(210, 100%, 63%);  /* Button hover */

    --dk-yellow: hsl(48, 100%, 60%);  /* Yellow text + slider thumb */


    --dk-white: hsl(0,0%, 100%);   /* Main heading */
    
    --dk-cyan: hsl(190, 100%, 60%);   /* Checkbox border */
    --dk-cyan2: hsl(190, 100%, 80%);  /* Checkbox checked */

    --dk-text: hsl(240, 8%, 80%);   /* Label text */

 }